<section class="phx-hero">
  <h1>Welcome to Wax!</h1>
  <p>WebAuthn library for eli<em>X</em>ir</p>
</section>

<section>
  <p>
  <%= form_for @conn, Routes.page_path(@conn, :index), [as: :login], fn f -> %>
    Login: <%= text_input f, :login, [placeholder: "Enter your login"]%>
    <%= submit "Next" %>
  <% end %>
  </p>
</section>
