<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WaxDemo · Phoenix Framework</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <%= if Plug.Conn.get_session(@conn, :authenticated) do %>
              <li><a href="/me/?logout">Logout</a></li>
            <% end %>
          </ul>
        </nav>
        <a href="https://github.com/tanguilp/wax_demo" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/wax.png")} style="width:135px"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
